[Unit]
Description=SDeploy Simple Deploy Service
After=network.target

[Service]
Type=simple
# Config file is read from /etc/sdeploy.conf by default (override with -c flag)
ExecStart=/usr/local/bin/sdeploy -d
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target